In [17]:
#task_6
import csv
from datetime import datetime, timedelta

def calculateFullYears(date):
    today = datetime.now()
    fullYears = today.year - date.year - ((today.month, today.day) < (date.month, date.day))
    return fullYears


with open('C:\\Users\\Katia\\Documents\\6_input.csv', newline='') as csvfile:
    csvreader = csv.DictReader(csvfile)   
    for row in csvreader:
     dateStr = row['Date of employment']
     date = datetime.strptime(dateStr, '%Y-%m-%d')
     fullYears = calculateFullYears(date)
     if fullYears >= 5:
        print(row['Name'], '- compensation', fullYears*1000)

Beata - compensation 5000
Jarek - compensation 5000
Ania - compensation 6000
Mateusz - compensation 6000
Marian - compensation 10000

In [15]:
#task_5
import csv

with open('C:\\Users\\Katia\\Documents\\5_input.csv', newline='') as csvfile:
    csvreader = csv.DictReader(csvfile)   
    for row in csvreader:
     years = int(row['Duration of employment in years'])
     if years >= 5:
        print(row['Name'], '- compensation', int(row['Duration of employment in years'])*1000)

Beata - compensation 5000
Jarek - compensation 5000
Ania - compensation 6000
Mateusz - compensation 6000
Marian - compensation 10000

In [27]:
#task_4
from typing import List, Dict, Any

employees: List[Dict[str, Any]] = [

{'Id': 1, 'Name': 'Adam', 'Department': 'Management', 'Salary': 10000},

{'Id': 2, 'Name': 'Beata', 'Department': 'Management', 'Salary': 12000},

{'Id': 3, 'Name': 'Jarek', 'Department': 'Kitchen', 'Salary': 7000},

{'Id': 4, 'Name': 'Agnieszka', 'Department': 'House Floor', 'Salary': 8500},

{'Id': 5, 'Name': 'Marek', 'Department': 'House Floor', 'Salary': 11200},

{'Id': 6, 'Name': 'Ania', 'Department': 'Kitchen', 'Salary': 9300},

{'Id': 7, 'Name': 'Piotr', 'Department': 'Management', 'Salary': 15100},

{'Id': 8, 'Name': 'Mateusz', 'Department': 'Cashier', 'Salary': 18000},

{'Id': 9, 'Name': 'Agata', 'Department': 'Management', 'Salary': 16400},

{'Id': 10, 'Name': 'Marian', 'Department': 'Cashier', 'Salary': 11000},

]

employeeId = []
for employee in employees:
    employeeId.append({ employee['Id']: employee['Name'][0]})
print(employeeId)

[{1: 'A'}, {2: 'B'}, {3: 'J'}, {4: 'A'}, {5: 'M'}, {6: 'A'}, {7: 'P'}, {8: 'M'}, {9: 'A'}, {10: 'M'}]

In [30]:
#task_3
employees: List[Dict[str, Any]] = [

{'Id': 1, 'Name': 'Adam', 'Department': 'Management', 'Salary': 10000},

{'Id': 2, 'Name': 'Beata', 'Department': 'Management', 'Salary': 12000},

{'Id': 3, 'Name': 'Jarek', 'Department': 'Kitchen', 'Salary': 7000},

{'Id': 4, 'Name': 'Agnieszka', 'Department': 'House Floor', 'Salary': 8500},

{'Id': 5, 'Name': 'Marek', 'Department': 'House Floor', 'Salary': 11200},

{'Id': 6, 'Name': 'Ania', 'Department': 'Kitchen', 'Salary': 9300},

{'Id': 7, 'Name': 'Piotr', 'Department': 'Management', 'Salary': 15100},

{'Id': 8, 'Name': 'Mateusz', 'Department': 'Cashier', 'Salary': 18000},

{'Id': 9, 'Name': 'Agata', 'Department': 'Management', 'Salary': 16400},

{'Id': 10, 'Name': 'Marian', 'Department': 'Cashier', 'Salary': 11000},

]

management = []
count = 0
for employee in employees:
    if employee['Department']=='Management':
     management.append(employee['Name'])
     count += 1
print('In department: Management working now', count, 'persons', management)

In department: Management working now 4 persons ['Adam', 'Beata', 'Piotr', 'Agata']

In [32]:
#task_2
name_to_salary_dictionary = {

    'Adam': 10000,

    'Beata': 12000,

    'Jarek': 7000,

    'Agnieszka': 8500,

    'Marek': 11200,

    'Ania': 9300,

    'Piotr': 15100,

    'Mateusz': 18000,

    'Agata': 16400,

    'Marian': 11000

}

salaries = name_to_salary_dictionary.values()
meanSalary = sum(salaries) / len(salaries)
print('Salaries greater than mean salary:', meanSalary)
for name, salary in name_to_salary_dictionary.items():
    if salary > meanSalary:
        print('name:', name, '- salary', salary)

Salaries greater than mean salary: 11850.0
name: Beata - salary 12000
name: Piotr - salary 15100
name: Mateusz - salary 18000
name: Agata - salary 16400

In [35]:
#task_1
salaries = [10000, 12000, 7000, 8500, 11200, 9300, 15100, 18000, 16400, 11000]
maxSalaries=[]
for _ in range(3):
 maxSalary = max(salaries)
 while maxSalary in salaries:
    salaries.remove(maxSalary)
 maxSalaries.append(maxSalary)
print(maxSalaries)

[18000, 16400, 15100]