In [4]:
#task_1
def is_triangle(a, b, c):
    values = [a, b, c]
    sorted_values = sorted(values)
    if sorted_values[0] + sorted_values[1] > sorted_values[2]:
     return True
    else:
     return False

print(is_triangle(1,2,3))

False

In [9]:
#task_2
def check_length(string):
    length = len(string)
    if length == 4 or length == 6:
        return True
    else:
        return False

def if_repeated_values(string):
    for i in range(len(string)):
      if i < len(string) - 1:
          if string[i] == string[i+1]:
              return True
    return False

def is_alpha(string):
 for char in string:
     if char.isalpha():
         return True
 return False


pin_1 = input("Please pin: ").strip()    
pin_2 = input("Please repeat pin: ").strip()   
if not check_length(pin_1):
    print("Incorrect length")
if if_repeated_values(pin_1):
    print("Consecutive numbers repeated")
if is_alpha(pin_1):
    print("Pin contains letters")
if pin_1 != pin_2:
    print("Entered pins are not the same")

Please pin:  78yh
Please repeat pin:  78yh

Pin contains letters

In [25]:
#task_3
import random
def winner(user_1, user_2):
 if user_1 == 'paper' and user_2 == 'paper':
     return 0
 if user_1 == 'paper' and user_2 == 'scissors':
     return 2
 if user_1 == 'paper' and user_2 == 'rock':
     return 1    
 if user_1 == 'scissors' and user_2 == 'paper':
     return 1  
 if user_1 == 'scissors' and user_2 == 'scissors':
     return 0   
 if user_1 == 'scissors' and user_2 == 'rock':
     return 2 
 if user_1 == 'rock' and user_2 == 'paper':
     return 2 
 if user_1 == 'rock' and user_2 == 'scissors':
     return 1 
 if user_1 == 'rock' and user_2 == 'rock':
     return 0
     
words = ['paper', 'scissors', 'rock']
i=0
j=0
while i != 3 and j != 3:
 user_input = input("paper, scissors, rock? ").strip() 
 computer_input = random.choice(words)
 print("Computer input:", computer_input) 
 if winner(user_input, computer_input) == 1:
     i +=1
 if winner(user_input, computer_input) == 2:  
     j +=1

    
if i == 3:
    print("You won!")
else:
    print("Computer won")

paper, scissors, rock?  rock

Computer input: rock

paper, scissors, rock?  rock

Computer input: scissors

paper, scissors, rock?  scissors

Computer input: rock

paper, scissors, rock?  paper

Computer input: paper

paper, scissors, rock?  paper

Computer input: rock

paper, scissors, rock?  rock

Computer input: rock

paper, scissors, rock?  rock

Computer input: scissors
You won!

In [28]:
#taks_4
import random

with open('C:\\Users\\Katia\\Documents\\tips.txt', 'r') as file:
    lines = file.readlines()
    random_index = random.randint(0, len(lines) - 1)
    print(lines[random_index].strip())

      name    family  chocolate  regular  stinky
0   Sylvia   Harwood          1        5       4
1      Ben  Morrison          2        7       1
2     Adam   Harwood          1        4       0
3    Britt  Morrison          2        7       1
4    Rowan   Harwood          1        4       0
5     Alia  Atreides          2        8       1
6    Ellie     Clark          3       11       2
7     Alan     Clark          1        6       1
8  Phoenix     Clark          2        8       1
9     Paul  Atreides          3        2       0

In [38]:
#task_7 
import this

In [7]:
with open('C:\\Users\\Katia\\Documents\\zen_of_python.txt', 'r') as file:
#part_1
    text = file.read()
    symbols_to_remove = ['.', ',', '*', '-', '!']
    for symbol in symbols_to_remove:
     text = text.replace(symbol, '')
    text = text.replace("isn't", "is not")
    text = text.replace("aren't", "are not")
    lowercase_text = text.lower()
    words = lowercase_text.split()
    print(words)
    sorted_words = sorted(words)
    print(sorted_words)
    sorted_words_unique_set = set(sorted_words)
    sorted_words_unique_list = list(sorted_words_unique_set)
    sorted_words_unique_list = sorted(sorted_words_unique_list)
    print(sorted_words_unique_list)
    word_counts = {}
    for word in sorted_words:
      if word in word_counts:
        word_counts[word] += 1
      else:
        word_counts[word] = 1
    print(word_counts)

['the', 'zen', 'of', 'python', 'by', 'tim', 'peters', 'beautiful', 'is', 'better', 'than', 'ugly', 'explicit', 'is', 'better', 'than', 'implicit', 'simple', 'is', 'better', 'than', 'complex', 'complex', 'is', 'better', 'than', 'complicated', 'flat', 'is', 'better', 'than', 'nested', 'sparse', 'is', 'better', 'than', 'dense', 'readability', 'counts', 'special', 'cases', 'are', 'not', 'special', 'enough', 'to', 'break', 'the', 'rules', 'although', 'practicality', 'beats', 'purity', 'errors', 'should', 'never', 'pass', 'silently', 'unless', 'explicitly', 'silenced', 'in', 'the', 'face', 'of', 'ambiguity', 'refuse', 'the', 'temptation', 'to', 'guess', 'there', 'should', 'be', 'one', 'and', 'preferably', 'only', 'one', 'obvious', 'way', 'to', 'do', 'it', 'although', 'that', 'way', 'may', 'not', 'be', 'obvious', 'at', 'first', 'unless', "you're", 'dutch', 'now', 'is', 'better', 'than', 'never', 'although', 'never', 'is', 'often', 'better', 'than', 'right', 'now', 'if', 'the', 'implementation', 'is', 'hard', 'to', 'explain', "it's", 'a', 'bad', 'idea', 'if', 'the', 'implementation', 'is', 'easy', 'to', 'explain', 'it', 'may', 'be', 'a', 'good', 'idea', 'namespaces', 'are', 'one', 'honking', 'great', 'idea', "let's", 'do', 'more', 'of', 'those']
['a', 'a', 'although', 'although', 'although', 'ambiguity', 'and', 'are', 'are', 'at', 'bad', 'be', 'be', 'be', 'beats', 'beautiful', 'better', 'better', 'better', 'better', 'better', 'better', 'better', 'better', 'break', 'by', 'cases', 'complex', 'complex', 'complicated', 'counts', 'dense', 'do', 'do', 'dutch', 'easy', 'enough', 'errors', 'explain', 'explain', 'explicit', 'explicitly', 'face', 'first', 'flat', 'good', 'great', 'guess', 'hard', 'honking', 'idea', 'idea', 'idea', 'if', 'if', 'implementation', 'implementation', 'implicit', 'in', 'is', 'is', 'is', 'is', 'is', 'is', 'is', 'is', 'is', 'is', 'it', 'it', "it's", "let's", 'may', 'may', 'more', 'namespaces', 'nested', 'never', 'never', 'never', 'not', 'not', 'now', 'now', 'obvious', 'obvious', 'of', 'of', 'of', 'often', 'one', 'one', 'one', 'only', 'pass', 'peters', 'practicality', 'preferably', 'purity', 'python', 'readability', 'refuse', 'right', 'rules', 'should', 'should', 'silenced', 'silently', 'simple', 'sparse', 'special', 'special', 'temptation', 'than', 'than', 'than', 'than', 'than', 'than', 'than', 'than', 'that', 'the', 'the', 'the', 'the', 'the', 'the', 'there', 'those', 'tim', 'to', 'to', 'to', 'to', 'to', 'ugly', 'unless', 'unless', 'way', 'way', "you're", 'zen']
['a', 'although', 'ambiguity', 'and', 'are', 'at', 'bad', 'be', 'beats', 'beautiful', 'better', 'break', 'by', 'cases', 'complex', 'complicated', 'counts', 'dense', 'do', 'dutch', 'easy', 'enough', 'errors', 'explain', 'explicit', 'explicitly', 'face', 'first', 'flat', 'good', 'great', 'guess', 'hard', 'honking', 'idea', 'if', 'implementation', 'implicit', 'in', 'is', 'it', "it's", "let's", 'may', 'more', 'namespaces', 'nested', 'never', 'not', 'now', 'obvious', 'of', 'often', 'one', 'only', 'pass', 'peters', 'practicality', 'preferably', 'purity', 'python', 'readability', 'refuse', 'right', 'rules', 'should', 'silenced', 'silently', 'simple', 'sparse', 'special', 'temptation', 'than', 'that', 'the', 'there', 'those', 'tim', 'to', 'ugly', 'unless', 'way', "you're", 'zen']
{'a': 2, 'although': 3, 'ambiguity': 1, 'and': 1, 'are': 2, 'at': 1, 'bad': 1, 'be': 3, 'beats': 1, 'beautiful': 1, 'better': 8, 'break': 1, 'by': 1, 'cases': 1, 'complex': 2, 'complicated': 1, 'counts': 1, 'dense': 1, 'do': 2, 'dutch': 1, 'easy': 1, 'enough': 1, 'errors': 1, 'explain': 2, 'explicit': 1, 'explicitly': 1, 'face': 1, 'first': 1, 'flat': 1, 'good': 1, 'great': 1, 'guess': 1, 'hard': 1, 'honking': 1, 'idea': 3, 'if': 2, 'implementation': 2, 'implicit': 1, 'in': 1, 'is': 10, 'it': 2, "it's": 1, "let's": 1, 'may': 2, 'more': 1, 'namespaces': 1, 'nested': 1, 'never': 3, 'not': 2, 'now': 2, 'obvious': 2, 'of': 3, 'often': 1, 'one': 3, 'only': 1, 'pass': 1, 'peters': 1, 'practicality': 1, 'preferably': 1, 'purity': 1, 'python': 1, 'readability': 1, 'refuse': 1, 'right': 1, 'rules': 1, 'should': 2, 'silenced': 1, 'silently': 1, 'simple': 1, 'sparse': 1, 'special': 2, 'temptation': 1, 'than': 8, 'that': 1, 'the': 6, 'there': 1, 'those': 1, 'tim': 1, 'to': 5, 'ugly': 1, 'unless': 2, 'way': 2, "you're": 1, 'zen': 1}

In [18]:
import datetime
import time

with open('C:\\Users\\Katia\\Documents\\zen_of_python.txt', 'r') as file:
#part_2
    for line in file:
        line = line.strip()
        if line:
         current_time = datetime.datetime.now()
         formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")   
         print(f"{formatted_time} - {line.strip()}") 
         time.sleep(1)

2024-04-11 14:51:24 - The Zen of Python, by Tim Peters
2024-04-11 14:51:25 - Beautiful is better than ugly.
2024-04-11 14:51:26 - Explicit is better than implicit.
2024-04-11 14:51:27 - Simple is better than complex.
2024-04-11 14:51:28 - Complex is better than complicated.
2024-04-11 14:51:29 - Flat is better than nested.
2024-04-11 14:51:30 - Sparse is better than dense.
2024-04-11 14:51:31 - Readability counts.
2024-04-11 14:51:32 - Special cases aren't special enough to break the rules.
2024-04-11 14:51:33 - Although practicality beats purity.
2024-04-11 14:51:34 - Errors should never pass silently.
2024-04-11 14:51:35 - Unless explicitly silenced.
2024-04-11 14:51:36 - In the face of ambiguity, refuse the temptation to guess.
2024-04-11 14:51:37 - There should be one-- and preferably only one --obvious way to do it.
2024-04-11 14:51:38 - Although that way may not be obvious at first unless you're Dutch.
2024-04-11 14:51:39 - Now is better than never.
2024-04-11 14:51:40 - Although never is often better than right now.
2024-04-11 14:51:41 - If the implementation is hard to explain, it's a bad idea.
2024-04-11 14:51:42 - If the implementation is easy to explain, it may be a good idea.
2024-04-11 14:51:43 - Namespaces are one honking great idea -- let's do more of those!

In [28]:
#task_6
def mapping_user_inputs(string):
   if string[0] == 'A':
       result_1 = 0
   elif string[0] == 'B':
       result_1 = 1
   elif string[0] == 'C':
       result_1 = 2
   elif string[0] == 'D':
       result_1 = 3
   elif string[0] == 'E':
       result_1 = 4
   return result_1, int(string[1])-1

import numpy as np
import random

# Create a 5x5 board initialized with "."
board = np.full((5, 5), ".")

# Add 10 zeros to the board
count_zeros = 0
while count_zeros < 10:
    row = random.randint(0, 4)
    col = random.randint(0, 4)
    if board[row, col] == ".":
        board[row, col] = 0
        count_zeros += 1

# Define X-axis and Y-axis labels
x_labels = ['1', '2', '3', '4', '5']
y_labels = ['A', 'B', 'C', 'D', 'E']

# Uncomment below if you want to print generated board with lables
#print("    ", end="")
#for label in x_labels:
#    print(label, end=" ")
#print()

#for i, row in enumerate(board):
#    print(y_labels[i], end="   ")
#    for val in row:
#        print(val, end=" ")
#    print()

board_to_show = np.full((5,5), ".")

print("    ", end="")
for label in x_labels:
    print(label, end=" ")
print()

for i, row in enumerate(board_to_show):
    print(y_labels[i], end="   ")
    for val in row:
        print(val, end=" ")
    print()

total_guess = 0
while total_guess < 11:
 user_input = input("your next guess? ").strip() 
 row_number, column_number =  mapping_user_inputs(user_input)
 if board[row_number, column_number] == '0':
    board_to_show[row_number, column_number] = 0
 else:
    board_to_show[row_number, column_number] = "x" 
 print("    ", end="")
 for label in x_labels:
    print(label, end=" ")
 print()

 for i, row in enumerate(board_to_show):
    print(y_labels[i], end="   ")
    for val in row:
        print(val, end=" ")
    print()
 total_guess += 1

    1 2 3 4 5
A   . . . . .
B   . . . . .
C   . . . . .
D   . . . . .
E   . . . . .

your next guess?  A2

    1 2 3 4 5
A   . x . . .
B   . . . . .
C   . . . . .
D   . . . . .
E   . . . . .

your next guess?  B4

    1 2 3 4 5
A   . x . . .
B   . . . 0 .
C   . . . . .
D   . . . . .
E   . . . . .

your next guess?  C1

    1 2 3 4 5
A   . x . . .
B   . . . 0 .
C   x . . . .
D   . . . . .
E   . . . . .

your next guess?  D4

    1 2 3 4 5
A   . x . . .
B   . . . 0 .
C   x . . . .
D   . . . 0 .
E   . . . . .

your next guess?  E5

    1 2 3 4 5
A   . x . . .
B   . . . 0 .
C   x . . . .
D   . . . 0 .
E   . . . . x

your next guess?  A4

    1 2 3 4 5
A   . x . x .
B   . . . 0 .
C   x . . . .
D   . . . 0 .
E   . . . . x

your next guess?  C1

    1 2 3 4 5
A   . x . x .
B   . . . 0 .
C   x . . . .
D   . . . 0 .
E   . . . . x

your next guess?  C5

    1 2 3 4 5
A   . x . x .
B   . . . 0 .
C   x . . . x
D   . . . 0 .
E   . . . . x

your next guess?  C3

    1 2 3 4 5
A   . x . x .
B   . . . 0 .
C   x . x . x
D   . . . 0 .
E   . . . . x

your next guess?  B1

    1 2 3 4 5
A   . x . x .
B   0 . . 0 .
C   x . x . x
D   . . . 0 .
E   . . . . x

your next guess?  E4

    1 2 3 4 5
A   . x . x .
B   0 . . 0 .
C   x . x . x
D   . . . 0 .
E   . . . 0 x

In [31]:
#task_5
import pandas as pd
df = pd.read_csv('C:\\Users\\Katia\\Documents\\egghunt.csv')
df.head(10)

      name    family  chocolate  regular  stinky
0   Sylvia   Harwood          1        5       4
1      Ben  Morrison          2        7       1
2     Adam   Harwood          1        4       0
3    Britt  Morrison          2        7       1
4    Rowan   Harwood          1        4       0
5     Alia  Atreides          2        8       1
6    Ellie     Clark          3       11       2
7     Alan     Clark          1        6       1
8  Phoenix     Clark          2        8       1
9     Paul  Atreides          3        2       0

In [32]:
df['total_points'] = df['chocolate']*3 + df['regular']

In [37]:
df.head(20)

      name    family  chocolate  regular  stinky  total_points
0   Sylvia   Harwood          1        5       4             8
1      Ben  Morrison          2        7       1            13
2     Adam   Harwood          1        4       0             7
3    Britt  Morrison          2        7       1            13
4    Rowan   Harwood          1        4       0             7
5     Alia  Atreides          2        8       1            14
6    Ellie     Clark          3       11       2            20
7     Alan     Clark          1        6       1             9
8  Phoenix     Clark          2        8       1            14
9     Paul  Atreides          3        2       0            11

In [34]:
#a
top_row = df.loc[df['total_points'].idxmax()]
print(top_row)

name            Ellie
family          Clark
chocolate           3
regular            11
stinky              2
total_points       20
Name: 6, dtype: object

In [35]:
#b
chocolate_eggs_sum = df['chocolate'].sum()
print(chocolate_eggs_sum)

18

In [39]:
#c
individual_result = df[['name', 'total_points']]
print(individual_result)

      name  total_points
0   Sylvia             8
1      Ben            13
2     Adam             7
3    Britt            13
4    Rowan             7
5     Alia            14
6    Ellie            20
7     Alan             9
8  Phoenix            14
9     Paul            11

In [38]:
#d
result = df.groupby('family')['total_points'].sum()
print(result)

family
Atreides    25
Clark       43
Harwood     22
Morrison    26
Name: total_points, dtype: int64

In [40]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.0 kB 495.5 kB/s eta 0:00:01
   --------------------------- ------------ 174.1/250.0 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.7 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [42]:
import pandas as pd
individual_result = result.reset_index()

excel_file_path = 'C:\\Users\\Katia\\Documents\\result.xlsx'

individual_result.to_excel(excel_file_path, index=False)

print(f"Results have been written to {excel_file_path}")

Results have been written to C:\Users\Katia\Documents\result.xlsx